.transMenu {
 position:absolute ; 
 overflow:hidden; 
 left:-1000px; 
 top:-1000px; 
}
.transMenu .content {
 position:absolute  ; 
}
.transMenu .items {
 border: 0px solid #FFFFFF ; 
 position:relative ; 
 left:0px; top:0px; 
 z-index:2; 
}
.transMenu  td
{
 padding: 2px 5px 2px 5px !important;  
 font-size: 12px !important ; 
 font-family: "Trebuchet MS", "Times New Roman", Times, serif !important ; 
 text-align: left !important ; 
 font-weight: normal !important ; 
 color: #E1D2C0 !important ; 
} 
#subwrap 
{ 
 text-align: left ; 
}
.transMenu  .item.hover td
{ 
 color: #FFFFFF !important ; 
}
.transMenu .item { 
 text-decoration: none ; 
 cursor:pointer; 
 cursor:hand; 
}
.transMenu .background {
 background-color: #2C4851 !important ;
 position:absolute ; 
 left:0px; top:0px; 
 z-index:1; 
 opacity:0.95; 
 filter:alpha(opacity=95) 
}
.transMenu .shadowRight { 
 position:absolute ; 
 z-index:3; 
 top:-3000px; width:2px; 
 opacity:0.95; 
 filter:alpha(opacity=95)
}
.transMenu .shadowBottom { 
 position:absolute ; 
 z-index:1; 
 left:-3000px; height:2px; 
 opacity:0.95; 
 filter:alpha(opacity=95)
}
.transMenu .item.hover {
 background-color: #D87533 !important ; color:white;
}
.transMenu .item img { 
 margin-left:10px !important ; 
}
table.menu {
 top: 0px; 
 left: 0px; 
 position:relative ; 
 margin:0px !important ; 
 border: 0px none ; 
 z-index: 1; 
}
table.menu a{
 margin:0px !important; 
 padding: 5px 13px 5px 10px !important ; 
 display:block !important; 
 position:relative !important ; 
 text-decoration:none;
 color:#FFFFFF;
 height: 100%;
}
table.menu a:hover{
 text-decoration: none;
 color: #F93 !important;
}
table.menu td{
background:transparent url(../../../templates/isha/images2/top-menu-sep.jpg) no-repeat scroll right center;
}

table.menu td.last{
background-image: none;
}
 
div.menu a,
div.menu a:visited,
div.menu a:link {
 font-size: 18px !important ; 
 font-family: "Trebuchet MS", "Times New Roman", Times, serif !important ;
 font-weight:normal;
 color:#FFFFFF;
}